body {
background: #085078;
background: -webkit-linear-gradient(to right, #085078,#85D8CE);
background: linear-gradient(to right,#085078, #85D8CE);
}

.search {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

footer {
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
