body {
background: #085078;
background: -webkit-linear-gradient(to right, #85D8CE, #085078);
background: linear-gradient(to right, #85D8CE, #085078);
}

.search {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

footer {
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}